extends layouts/main_site_layout.pug
block content
    div.container.mt-4.mb-4
        .card-deck
            .card
                img(src="https://www.ozceinsaat.com.tr/admin/resimler/tarihce/f9d2bhistory.png" height="400")
                .card-body
                    h4.card-title Our History
                    p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sit, illo blanditiis doloremque dolorem vel corrupti nemo ipsam laboriosam dicta quam at veniam ipsa voluptatum esse iure facere repellendus. Sit optio accusantium repudiandae atque id asperiores amet blanditiis temporibus labore, nisi deleniti illum fuga debitis rerum quisquam similique porro quaerat.
            .card
                img(src="https://image.freepik.com/free-vector/cute-offline-twitch-banner_52683-40151.jpg" height="400")
                .card-body
                    h4.card-title Our Ads
                    p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sit, illo blanditiis doloremque dolorem vel corrupti nemo ipsam laboriosam dicta quam at veniam ipsa voluptatum esse iure facere repellendus. Sit optio accusantium repudiandae atque id asperiores amet blanditiis temporibus labore, nisi deleniti illum fuga debitis rerum quisquam similique porro quaerat.
                    