extends layouts/main_site_layout.pug
block content
    if dataControl
        h3.mt-5.mb-5 Henüz ürün yok  
        br
        br
        br
        br
        br
        br     
        br
        br
        br 
    else
        include includes/produtcs.pug
