extends layouts/main_site_layout.pug
block content
    .container.mt-4.mb-5
        .card-deck.text-center
            .card.p-4.social-media-animation
                img(src="/img/instagram.png" height="32"  width="32").mx-auto
                .card-body
                    p.card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, atque.
            .card.p-4.social-media-animation
                img(src="/img/mail.png" height="32" width="32").mx-auto
                .card-body
                    p.card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, atque.
            .card.p-4.social-media-animation
                img(src="/img/twitter.png" height="32" width="32").mx-auto
                .card-body
                    p.card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, atque.
    .container.text-center.mb-5
        h4 Our Contact Adress
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem culpa natus ex, id assumenda beatae itaque facilis maxime deleniti, accusamus sint at sapiente, nihil esse.
        

